@import "../../SassVariables.scss";

.ComicGallery {
  @include contentFrame(0 5% 0 10%);
  background-color: $generalBgColor;
  padding-top: 7%;

  @media (max-width: 480px) {
    @include contentFrame(0 0 0 10%);
  }

  .all-comics-available {
    color: $generalFontColor;
    text-transform: uppercase;
    font-family: $fontStyleOne;
    font-size: 2rem;
    margin: 0;
    padding-top: 20px;
  }
  .back {
    @include backTo;
  }
}
.load-more {
  padding: 0;
  display: block;
  margin: 0 auto 80px auto;
  text-align: center;
  font-family: $fontStyleOne;
  color: $highlightedFontColor;
  background-color: transparent;
  border: none;
  outline: transparent;
  font-size: 3rem;
  transition: all 0.2 ease-in-out;
  &:hover {
    cursor: pointer;
    color: $generalFontColor;
  }
  @media (max-width: 480px) {
    margin: 5% 25% 15% 35%;
    font-size: 1.25rem;
  }
}
