@import "../../SassVariables.scss";

.Home {
  .home-container {
    min-height: 100vh;
    margin: 0 5% 0 5%;
    .info {
      padding-top: 4%;
      display: flex;
      justify-content: flex-end;
      a {
        padding-right: 40px;
        color: $generalFontColor;
        text-decoration: none;
        font-size: 1.5rem;
        font-family: $fontStyleOne;
      }
    }
    .header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      padding-top: 5%;
      .marvel-lable {
        margin: 0 auto;
        padding: 2px 5px 0 5px;
        width: 100px;
        height: auto;
      }
      h1 {
        padding-top: 50px;
        line-height: 130px;
        font-family: $fontStyleOne;
        font-weight: 400;
        color: $generalFontColor;
        font-size: 8rem;
        margin: 0;
        @media (max-width: 1800px) {
          padding-top: 35px;
          font-size: 7rem;
          line-height: 120px;
        }
      }
      .home-description {
        padding: 0 25% 3% 25%;
        color: $generalFontColor;
        font-family: $fontStyleTwo;
        font-size: 1.5rem;
        line-height: 25px;
        @media (max-width: 1800px) {
          font-size: 1rem;
        }
      }
    }
    .start-search {
      @include homeButtons(0 auto);
    }
    .browse-characters {
      display: flex;
      justify-content: center;
      text-align: center;
      color: $generalFontColor;
      font-family: $fontStyleOne;
      font-weight: 400;
      opacity: 0.15;
      font-size: 5.5rem;
      margin: 0;
      @media (max-width: 1800px) {
        font-size: 4.5rem;
      }
    }
    .vertical-line {
      margin: 40px 0 40px 0;
      display: flex;
      justify-content: center;
      text-align: center;
      span {
        border-left: 1px solid $highlightedFontColor;
        height: 100px;
      }
    }
    .home-heroes {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      color: $generalFontColor;
      padding: 80px 0 200px 0;
      @media (min-width: 1800px) {
        padding: 80px 10% 200px 10%;
      }
      .learn-more {
        padding-top: 15px;
        .header-learn {
          width: 340px;
          line-height: 50px;
          font-family: $fontStyleOne;
          font-weight: 400;
          font-size: 3rem;
          margin: 0;
        }
        .paragraph-learn {
          width: 340px;
          line-height: 25px;
          padding: 20px 0 45px 0;
          margin: 0;
          font-family: $fontStyleTwo;
          font-size: 1rem;
        }
        .someone-random {
          @include homeButtons(0);
        }
      }
      .hero-suggestions {
        width: 1000px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .circle-hero-container {
          .circle-hero-images {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            border: 4px solid $highlightedFontColor;
            margin: 0px 25px 0px 25px;
          }
          .circle-hero-name {
            justify-content: center;
            text-align: center;
          }
        }
      }
    }
  }
}
