@import "../../SassVariables.scss";

.Home {
  margin-left: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../Assets/homepage_bg.jpg");
  box-shadow: inset 0 0 0 100vw rgba(45, 47, 45, 0.8);
  background-attachment: fixed;
  @media (max-width: 1440px) {
    margin-left: 80px;
  }
  @media (max-width: 480px) {
    margin-top: -15%;
    margin-left: 0;
  }

  .home-container {
    min-height: 100vh;
    margin: 0 7% 0 5%;
    @media (max-width: 480px) {
      margin: 0 3% 0 3%;
    }
    .info {
      padding-top: 4%;
      display: flex;
      justify-content: flex-end;
      @media (max-width: 480px) {
        display: none;
      }
      a {
        color: $highlightedFontColor;
        text-decoration: none;
        font-size: 1.75rem;
        font-family: $fontStyleOne;
        transition: all 0.2s ease-in;
        &:hover {
          color: $generalFontColor;
        }
        @media (max-width: 1440px) {
          font-size: 1.25rem;
        }
        @media (max-width: 1366px) {
          font-size: 1rem;
        }
      }
      .api {
        padding-right: 40px;
      }
    }
    .header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      padding-top: 5%;
      @media (max-width: 480px) {
        padding-top: 30%;
      }
      .marvel-label {
        margin: 0 auto;
        padding: 2px 5px 0 5px;
        width: 100px;
        height: auto;
        @media (max-width: 1440px) {
          width: 80px;
        }
        @media (max-width: 480px) {
          width: 55px;
        }
      }
      h1 {
        padding-top: 37px;
        line-height: 140px;
        font-family: $fontStyleOne;
        font-weight: 400;
        color: $generalFontColor;
        font-size: 9rem;
        margin: 0;
        @media (max-width: 1440px) {
          padding-top: 30px;
          font-size: 8rem;
          line-height: 119px;
        }
        @media (max-width: 1366px) {
          padding-top: 20px;
          font-size: 7rem;
          line-height: 107px;
        }
        @media (max-width: 480px) {
          font-size: 3rem;
          line-height: 52px;
        }
      }
      .home-description {
        margin: 0;
        padding: 24px 18% 103px 18%;
        color: $generalFontColor;
        font-family: $fontStyleTwo;
        font-size: 1.25rem;
        line-height: 30px;
        @media (max-width: 1440px) {
          padding: 14px 18% 103px 18%;
          font-size: 1rem;
          line-height: 28px;
        }
        @media (max-width: 1366px) {
          font-size: 0.85rem;
          line-height: 20px;
          padding: 1% 22% 3% 22%;
        }
        @media (max-width: 480px) {
          padding: 5% 6% 6% 6%;
        }
      }
    }
    .start-search {
      @include homeButtons(0 auto);
    }
    .browse-characters {
      display: flex;
      justify-content: center;
      text-align: center;
      color: $generalFontColor;
      font-family: $fontStyleOne;
      font-weight: 400;
      opacity: 0.15;
      font-size: 6rem;
      margin: 0;
      @media (max-width: 1800px) {
        font-size: 5rem;
      }
      @media (max-width: 1440px) {
        font-size: 4rem;
      }
      @media (max-width: 1366px) {
        font-size: 3.25rem;
      }
      @media (max-width: 480px) {
        font-size: 2.75rem;
      }
    }
    .vertical-line {
      margin: 40px 0 40px 0;
      display: flex;
      justify-content: center;
      text-align: center;
      @media (max-width: 1366px) {
        margin: 25px 0 25px 0;
      }
      span {
        border-left: 1px solid $highlightedFontColor;
        height: 100px;
        @media (max-width: 1366px) {
          height: 80px;
        }
        @media (max-width: 480px) {
          height: 65px;
        }
      }
    }
    .home-heroes {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      color: $generalFontColor;
      padding: 50px 0 200px 0;
      @media (max-width: 1440px) {
        padding: 30px 0 150px 0;
      }
      @media (max-width: 480px) {
        flex-direction: column;
        padding: 15px 0 80px 0;
      }

      .learn-more {
        width: 30%;
        margin: 0 8% 0 2%;
        @media (max-width: 1440px) {
          margin: 0 5% 0 2%;
        }
        @media (max-width: 480px) {
          justify-content: center;
          text-align: center;
          width: auto;
          padding: 0 5% 0 5%;
        }

        .header-learn {
          line-height: 63px;
          font-family: $fontStyleOne;
          font-weight: 400;
          font-size: 4rem;
          margin: 0;
          @media (max-width: 1440px) {
            font-size: 3rem;
            line-height: 50px;
          }
          @media (max-width: 1366px) {
            font-size: 2.75rem;
            line-height: 45px;
          }
        }
        .paragraph-learn {
          padding: 20px 0 45px 0;
          margin: 0;
          font-family: $fontStyleTwo;
          font-size: 1.5rem;
          line-height: 33px;
          @media (max-width: 1440px) {
            font-size: 1.25rem;
            line-height: 30px;
            padding: 15px 0 35px 0;
          }
        }
        .someone-random {
          @include homeButtons(0);
        }
      }
      .hero-suggestions {
        width: 70%;
        display: flex;
        flex-wrap: wrap;
        @media (max-width: 480px) {
          width: 100%;
          margin: 50px auto 0 auto;
        }

        .circle-hero-container {
          width: 16.66%;
          @media (max-width: 480px) {
            width: 33.33%;
          }

          .hero-on-hover-container {
            width: 100%;
            position: relative;

            @include imgHoverEffect;

            .more-info-container {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
            }
            .circle-hero-border {
              border: 4px solid $highlightedFontColor;
              border-radius: 50%;
              width: 65%;
              margin: 0px auto;
              cursor: pointer;
              .circle-hero-images {
                width: 100%;
                display: block;
                border-radius: 50%;
                transition: all 0.2s ease-in-out;
              }
            }

            .more {
              position: relative;
              font-size: 1rem;
              color: transparent;
              font-family: $fontStyleOne;
              transition: 0.2s ease;
              cursor: pointer;
            }
          }

          .circle-hero-name {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            text-align: center;
            color: $generalFontColor;
            font-family: $fontStyleTwo;
            font-size: 1rem;
            margin: 10px 20px 70px 20px;
            @media (max-width: 1440px) {
              margin: 10px 20px 50px 20px;
            }
          }
        }
      }
    }
  }
}
