@import "../../../SassVariables.scss";

.AllComics {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;

  .all-comics-container {
    width: 25%;
    margin-bottom: 5%;

    @media (max-width: 480px) {
      width: 50%;
      margin-bottom: 15%;
    }

    .on-hover-container {
      width: 70%;
      position: relative;

      @media (max-width: 480px) {
        width: 80%;
      }

      @include imgHoverEffect;

      .read-more-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .comic-images {
        width: 100%;
        cursor: pointer;
      }
      .more {
        position: relative;
        bottom: 60px;
        font-size: 2.5rem;
        color: transparent;
        @include fontOne;
        transition: 0.2s ease;
        cursor: pointer;
        @media (max-width: 1440px) {
          font-size: 2rem;
        }
        @media (max-width: 1366px) {
          font-size: 1.75rem;
        }
      }
    }
    .comic-title {
      width: 70%;
      margin: 10px 0 0 0;
      color: $generalFontColor;
      font-family: $fontStyleTwo;
      font-size: 1.25rem;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      @media (max-width: 1366px) {
        font-size: 1rem;
        margin-top: 8px;
      }
      @media (max-width: 480px) {
        font-size: 0.85rem;
      }
    }
  }
}
