@import "../../SassVariables.scss";

.AllComics {
  @include contentFrame(0 2% 0 10%);
  background-color: $generalBgColor;
  .all-comics-container {
    margin-top: 7%;
    .all-comics-available {
      color: $generalFontColor;
      text-transform: uppercase;
      font-family: $fontStyleOne;
      font-size: 2rem;
      margin: 0;
      letter-spacing: -1px;
      padding-top: 20px;
      font-weight: bold;
    }
    .back {
      @include backTo;
    }
  }
  .all-comics-img-container {
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    .all-comics-img {
      margin-bottom: 40px;
      padding-right: 4%;
      max-width: 300px;
      p {
        color: $generalFontColor;
        font-size: 1.1rem;
        font-family: $fontStyleTwo;
      }
      .more {
        position: relative;
        margin: 0;
        padding: 0;
        font-size: 1.5rem;
        font-weight: bold;
        top: 200px;
        left: 65px;
        color: transparent;
      }
      img {
        cursor: pointer;
      }
      @include imgHoverEffect;
    }
  }
}
