@import "../SassVariables";

.Header {
  display: flex;
  flex-direction: column;
  margin: 0 55% 0 10%;
  height: 600px;

  h1 {
    font-size: 3.5rem;
    font-weight: 900;
    margin: 150px 0 0 0;
    width: 550px;
  }

  h2 {
    width: 550px;
    font-size: $fontSizeSmall;
    font-weight: $fontWeightMedium;
    margin: 35px 0 30px 0;
  }

  button {
    @include buttonStyle(200px);
    margin: 0;
  }
}

.header-bg {
  background-color: $colorBackgroundBlue;
}
