@import "../../SassVariables.scss";

.Comics {
  color: white;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  width: 85%;
  background-color: $generalBgColor;
  p {
    margin-top: 80px;
    color: $generalFontColor;
    font-family: $fontStyleOne;
    font-size: 1rem;
    cursor: pointer;
  }
  .comic-container {
    img {
      position: absolute;
      cursor: pointer;
      @media (max-width: 1800px) {
        width: 80px;
        height: auto;
      }
      &:hover {
        opacity: 0.5;
        transition: 0.5s ease;
      }
    }
    .more {
      position: relative;
      margin: 0;
      padding: 0;
      font-size: 0.5rem;
      font-weight: bold;
      top: 50px;
      left: 15px;
      color: transparent;
    }
    &:hover {
      -webkit-filter: grayscale(70%);
      filter: grayscale(70%);
      transition: 0.5s ease;
      .more {
        color: $generalFontColor;
        transition: 0.5s ease;
      }
    }
  }
}
