@import "../../SassVariables.scss";

.Comics {
  color: white;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  width: 85%;
  background-color: $generalBgColor;
  p {
    margin-top: 80px;
    color: $generalFontColor;
    font-family: $fontStyleOne;
    font-size: 1rem;
  }
  @media (max-width: 1800px) {
    img {
      width: 80px;
      height: auto;
    }
  }
}
