@import "../../SassVariables.scss";

.DetailNew {
  @include contentFrame(0 5% 0 10%);

  .hero-description {
    margin-top: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    @media (max-width: 1600px) {
      margin-top: 8%;
    }
    .label {
      @include label;
    }
    .label-border {
      @include labelBG;
    }
    .label-creator {
      margin-left: 25px;
    }
    h2 {
      color: $generalFontColor;
      text-transform: uppercase;
      font-family: $fontStyleOne;
      font-size: 5rem;
      margin: 0;
      @media (max-width: 1600px) {
        font-size: 4rem;
      }
    }
    .hero-description-title {
      @include hero-ComicDescription;
      margin: 15px 0 0 0;
    }
    .hero-reference-link {
      color: $highlightedFontColor;
      text-decoration: none;
    }
  }

  .hero-image {
    margin-top: 6%;
    background: $colorMarvelRed;
    height: 80vh;
    img {
      height: 100%;
      -webkit-filter: grayscale(100%);
      margin-bottom: 20px;
      filter: grayscale(100%);
      opacity: 0.5;
    }
  }

  .copy-right {
    color: $highlightedFontColor;
    display: flex;
    justify-content: flex-end;
  }
}
