@import "../../SassVariables.scss";

.NavbarNew {
  position: fixed;
  width: 100px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid $highlightedFontColor;
  img {
    display: block;
    margin: 0 auto;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  .logo {
    margin-top: 50px;
    width: 39px;
    height: 27px;
  }
  .bottom {
    margin-bottom: 50px;
  }
}

.menu-opene {
  position: absolute;
  z-index: 10;
  height: 100vh;
  width: 100%;
  background-color: $generalBgColor;
  opacity: 0.97;
  .close {
    width: 80px;
    height: 80px;
    position: relative;
    top: 50px;
    left: 90%;
  }
  input {
    display: block;
    margin: 250px auto;
    width: 1000px;
    height: 90px;
    padding-left: 35px;
    border-radius: 50px;
    border-color: transparent;
    outline: none;
    font-family: $fontStyleOne;
    font-size: 5rem;
    text-transform: uppercase;
    color: white;
    background-color: transparent;
    &::placeholder {
      color: #f8f9fa;
      opacity: 0.8;
      font-family: $fontStyleOne;
      font-size: 5rem;
      text-transform: uppercase;
    }
  }
}
