@import "../../SassVariables.scss";

.NavDesk {
  position: fixed;
  width: 100px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid $highlightedFontColor;
  @media (max-width: 1440px) {
    width: 80px;
  }
  @media (max-width: 480px) {
    display: none;
  }
  .nav-items {
    color: $highlightedFontColor;
    display: block;
    margin: 0 auto;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    &:hover {
      color: $generalFontColor;
    }
    @media (max-width: 1440px) {
      width: 23px;
      height: 23px;
    }
  }
  .logo {
    margin-top: 50px;
    width: 48px;
    height: 38px;
    @media (max-width: 1440px) {
      width: 38px;
      height: 28px;
    }
  }
  .bottom {
    margin-bottom: 50px;
  }
}
