@import "../../SassVariables.scss";

.NavMobile {
  display: none;
}

@media (max-width: 480px) {
  .NavMobile {
    display: flex;
    justify-content: flex-end;

    .menu-icon {
      position: fixed;
      right: 20px;
      top: 20px;
      width: 35px;
      height: auto;
      z-index: 11;
    }
  }
}

.active-mobile-menu {
  position: fixed;
  background-color: $generalBgColor;
  opacity: 0.95;
  backdrop-filter: blur(5px);
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  overflow-y: scroll;

  .info {
    padding: 25px 0 10% 7%;
    @include fontOne;
    font-size: 1.75rem;
    a {
      color: $highlightedFontColor;
      text-decoration: none;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      &:hover {
        color: generalFontColor;
      }
    }

    .api {
      margin-right: 40px;
    }
  }

  .mobile-icons {
    color: $highlightedFontColor;
    display: block;
    margin: 20% auto 20% auto;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    &:hover {
      color: generalFontColor;
    }
  }
  .home-button {
    width: 55px;
    height: auto;
  }
}
