@import "../../SassVariables.scss";

.NavMobile {
  display: none;
}

@media (max-width: 480px) {
  .NavMobile {
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
    padding-top: 5%;

    .menu-icon {
      width: 35px;
      height: auto;
      z-index: 10;
    }
  }
}
