@import "../../../SassVariables.scss";

.Comics {
  display: flex;
  margin-top: 40px;
  width: 95%;

  @media (max-width: 1440px) {
    margin-top: 30px;
  }
  @media (max-width: 480px) {
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 90%;
    margin-left: 9%;
    margin-bottom: 35px;
  }

  .comic-container {
    width: 17%;

    @media (max-width: 480px) {
      margin-bottom: 30px;
      width: 33%;
    }

    .comic-on-hover-container {
      position: relative;
      width: 78%;

      @include imgHoverEffect;

      .read-more-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .comic-image {
        width: 100%;
        cursor: pointer;
      }

      .more {
        position: relative;
        bottom: 35px;
        font-size: 1.25rem;
        color: transparent;
        @include fontOne;
        transition: 0.2s ease;
        cursor: pointer;

        @media (max-width: 1440px) {
          bottom: 25px;
          font-size: 1rem;
        }
      }
    }
  }
  .see-all {
    font-size: 1.5rem;
    margin: 8% auto;
    color: $generalFontColor;
    @include fontOne;
    cursor: pointer;

    @media (max-width: 1440px) {
      font-size: 1.25rem;
    }
    @media (max-width: 480px) {
      margin: 5% 48% auto auto;
    }
  }
}
