@import "../../../SassVariables.scss";

.AllComics {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3%;

  .all-comics-container {
    width: 300px;
    height: auto;
    margin-right: 110px;
    .more {
      font-family: $fontStyleOne;
      position: relative;
      bottom: 100px;
      right: 80px;
      margin: 0;
      padding: 0;
      font-size: 3rem;

      &:hover {
        color: $generalFontColor;
        z-index: 10;
        transition: 0.2s ease;
      }
    }

    .comic-images {
      cursor: pointer;
      &:hover {
        opacity: 0.4;
        -webkit-filter: grayscale(70%);
        filter: grayscale(70%);
        transition: 0.2s ease;
      }
    }
    .comic-title {
      color: $generalFontColor;
      font-size: 1rem;
      font-family: $fontStyleTwo;
      padding: 0;
      margin: 0;
    }
  }
}
