@import "../SassVariables";

.NavbarNew {
  position: fixed;
  left: 50px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: $highlightedFontColor;
  font-size: 3rem;
  border-right: 1px solid $highlightedFontColor;
  span {
    margin-right: 50px;
  }
  .top {
    margin-top: 50px;
  }
  .bottom {
    margin-bottom: 50px;
  }
}

.menu-opene {
  position: absolute;
  z-index: 10;
  height: 100vh;
  width: 100%;
  background-color: $generalBgColor;
  opacity: 0.95;
  input {
    display: block;
    margin: 350px auto;
    width: 600px;
    height: 90px;
    padding-left: 35px;
    border-radius: 50px;
    border-color: white;
    outline: none;
    font-size: $fontSizeSmall;
    color: $highlightedFontColor;
    background-color: white;
    &::placeholder {
      color: $highlightedFontColor;
    }
  }
}
