@import "../SassVariables";

.NavDesktop {
  height: 170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: $fontWeightMedium;
  font-size: $fontSizeSmall;
  color: $highlightedFontColor;
  margin: 0 10% 0 10%;
}

.nav-bg {
  background-color: $generalBgColor;
}

.nav-times {
  display: flex;
  border-radius: 15px;
  font-weight: $fontWeightSmall;
  font-size: $fontSizeExtraSmall;
  span {
    margin-top: 10px;
    width: 140px;
  }
  input {
    width: 350px;
    height: 40px;
    padding-left: 20px;
    @include inputForm;
    &::placeholder {
      color: $generalBgColor;
    }
  }
  button {
    height: 42px;
    width: 100px;
    margin-left: 20px;
    @include inputForm;
  }
}
