@import "../SassVariables";

.NavDesktop {
  height: 170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: $fontWeightMedium;
  font-size: $fontSizeSmall;
  margin: 0 10% 0 10%;
}

.nav-bg {
  background-color: $colorBackgroundBlue;
}

.nav-times {
  display: flex;
  border-radius: 15px;
  font-weight: $fontWeightSmall;
  font-size: $fontSizeExtraSmall;
  span {
    margin-top: 10px;
    width: 140px;
  }
  input {
    width: 350px;
    height: 40px;
    border-radius: 15px;
    outline: none;
    padding-left: 20px;
    font-size: $fontSizeExtraSmall;
  }
  button {
    @include buttonStyle(100px);
  }
}
