$fontWeightPrimary: 700;
$fontWeightMedium: 600;
$fontWeightSecondary: 500;
$fontWeightSmall: 400;

$colorMarvelRed: #f0131e;
$generalBgColor: #2d2f2d;
$highlightedFontColor: #fd7267;
$generalFontColor: #f0f4f7;

$fontStyleOne: "Alata", sans-serif;
$fontStyleTwo: "Libre Baskerville", serif;

@mixin contentFrame {
  height: 100vh;
  display: flex;
  margin: 0 5% 0 10%;
}
