@import "../../SassVariables.scss";

.ComicsDetail {
  @include contentFrame;
  background-color: $generalBgColor;
  .comic-image {
    margin-top: 4%;
    height: 68vh;
    p {
      color: $highlightedFontColor;
      font-size: 1.25rem;
      font-family: $fontStyleOne;
      font-weight: bold;
      letter-spacing: -1px;
      margin-bottom: 13%;
    }
    img {
      height: 100%;
    }
  }
}
