@import "../../SassVariables.scss";

.ComicsDetail {
  @include contentFrame;
  background-color: $generalBgColor;
  p {
    color: $highlightedFontColor;
    font-size: 1.25rem;
    font-family: $fontStyleOne;
    font-weight: bold;
    letter-spacing: -1px;
    margin-bottom: 15%;
  }
  .comic-image {
    margin-top: 6%;
    height: 68vh;
    img {
      height: 100%;
    }
  }
}
